// Variables
$primary-color: #84c313;
$second-color: #52971b;
$third-color: #b72126;
$fourth-color: #26408a;
$fifth-color: #a7a9ac;
$sixth-color: #253d4e;
$gradient: linear-gradient(to right, $primary-color, $second-color);